.cys-icons {
  cys-src: icons;
}

.cys-emo {
  cys-src: 'emo';
  cys-padding: 20;
  cys-layout: 'smart';
  cys-decorate: false;
  cys-includeSize: true;
  cys-debug: true;
}


.emo-b {
  transition: 100ms background-position linear;
}
