.cy-icons {
  cy-src: icons;
}

.cy-emo {
  cy-src: 'emo';
  cy-padding: 200;
  cy-layout: 'diagonal';
  cy-decorate: false;
  cy-includeSize: false;
}


.emo-b {
  transition: 100ms background-position linear;
}
