.icons,
.icons-c,
.icons-d {
    background-image: url("../sprites/icons.png");
    display: inline-block;
    overflow: hidden;
}
.icons-c {
    background-position: 0 0;
}
.icons-d {
    background-position: -138px 0;
}
